<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS only -->
    <%- include ('../partials/css.ejs') %> 
    <nav>
      <%- include ('../partials/nav.ejs') %> 
    </nav>
    
</head>
<body>     
    <%- include ('../partials/mainboot.ejs') %> 
    <%- include ('../partials/mainboot2.ejs') %> 


    <footer>
      <%- include ('../partials/footerboot.ejs') %> 
    </footer>



</body>
</html>