<!-- <!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <#%- include ('../partials/css.ejs') %> 
    <nav>
      <#%- include ('../partials/nav.ejs') %> 
    </nav>
    
</head>
<body>     
    <#%- include ('../partials/mainboot.ejs') %> 
    <#%- include ('../partials/mainboot2.ejs') %> 


    <footer>
      <#%- include ('../partials/footerboot.ejs') %> 
    </footer>



</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%- include ('../partials/nav.ejs') %> 
  <link rel="stylesheet" href="/css/main.css">
  
</head>
<body>
    <%- include ('../partials/css.ejs') %> 
    <!-- <h1>Welcome to the thunder dome bitches</h1> -->

</section>
<section class="cards-wrapper">
<% for(let i = 0; i < data.length; i++){ %> 

  <div class="card-grid-space">

    <a class="card" href="/main/<%=data[i]._id%>" style="--bg-img: url(<%=data[i].image%>)">
      <div>
        <h1><%=data[i].firstName%>   </h1>
        <p><%= data[i].specializations %> </p>
        <!-- <div class="date">6 Oct 2017</div> -->
        <!-- <div class="tags">
          <div class="tag">HTML</div>
        </div> -->
      </div>
    </a>
  </div>

  <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->

  <% } %> 
  </section>

    <footer>
      <%- include ('../partials/footerboot.ejs') %> 
    </footer>  
</body>
</html>