<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav>
        <%- include('../partials/nav.ejs') %> 
    </nav>
        <%- include('../partials/css.ejs') %> 
</head>
<body>
    <h1>SHOW PAGE</h1>
    <div class="showPage">
        <div class="name">
            <%=data.firstName%>
            <%=data.lastName%>
        </div>
        <div class="special">
            <%=data.specializations%>
        </div>
        <div class="phone">
            <%=data.phone%>
        </div>
        <div class="email">
            <%=data.email%>
        </div>
        <div class="time">
            <%=data.time%>
            <p>Local Time: <span id="datetime"></span></p>
            
        </div>       
        
        <img src="<%= data.image %> " alt="Image Not Found">
    </div>

        <form action="/main">
            <button type="submit" class="btn btn-primary">Buy Another Teacher </button>
        </form>
        

        <form action="https://calendar.google.com/calendar/u/1?cid=Z2F0ZXN0MDEwQGdtYWlsLmNvbQ">
            <button type="submit" class="btn btn-primary">Schedule an appointment</button>
        </form>


            <script>
                var dt = new Date();
                    document.getElementById("datetime").innerHTML = dt.toLocaleTimeString();
            </script>
<!-- got the time from this website https://www.arclab.com/en/kb/htmlcss/display-date-time-javascript-php-ssi.html#:~:text=First%20we%20need%20to%20define,%3E%20or%20element.&text=Now%20let's%20assign%20the%20date,the%20id%3D%22datetime%22. -->
    
</body>
</html>