<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <nav>
        <%- include('../partials/nav.ejs') %> 
    </nav>
        <%- include('../partials/css.ejs') %> 
</head>
<body>
    <h1>SHOW PAGE</h1>
    <div class="showPage">
        <div class="name">
            <%=data.firstName%>
            <%=data.lastName%>
        </div>
        <div class="special">
            <%=data.specializations%>
        </div>
        <div class="">
            <%=data.phone%>
        </div>
        
        <%=data.email%>
        <%=data.time%>
        <img src="<%= data.image %> " alt="Image Not Found">
    </div>

        <form action="/main">
            <button type="submit" class="btn btn-primary">Buy Another Teacher </button>
        </form>

    
</body>
</html>