<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <%- include ('../partials/css.ejs') %> 
        
    <nav>
      <%- include ('../partials/nav.ejs') %> 
    </nav>
    
    <%- include ('../part/studentboot.ejs') %>
    <%- include ('../part/studentboot2.ejs') %>  
    
    <footer>
        <%- include ('../partials/footerboot.ejs') %> 
    </footer>
    
    

</body>
</html>
